<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sport.project.fitapp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>

    <uses-feature
        android:name="android.hardware.sensor.stepcounter"
        android:required="true"/>

    <uses-feature
        android:name="android.hardware.sensor.stepdetector"
        android:required="true"/>

    <application
        android:name=".FitApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FitApp"
        tools:ignore="GoogleAppIndexingWarning">
        <service
            android:name=".ui.stepcounter.service.StepCounterService"
            android:enabled="true"
            android:exported="false">
        </service>
        <activity android:name=".ui.SplashActivity"
            android:theme="@style/CircularReveal">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.mainactivity.MainActivity"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/Theme.FitApp.NoActionBar">
            <intent-filter>
                <!--                <action android:name="android.intent.action.MAIN" />-->
                <action android:name="android.intent.action.VIEW"/>

                <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            </intent-filter>
        </activity>

        <receiver android:name=".ui.stepcounter.data.DateChangeBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DATE_CHANGED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>